@import "../../styles/globals.module";

.product {
  display: flex;
  padding: $separation-8;
  border-radius: $border-radius-2;
  width: 100%;
  justify-content: space-between;
  position: relative;
  margin: $separation-24 0;

  &__number {
    position: absolute;
    left: -$separation-16;
    top: -$separation-16;
    background-color: red;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 1;
    border-radius: 100px;
    font-weight: bold;
    font-size: 24px;
  }

  &__imageInfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__image {
    display: flex;
    margin: 0 $separation-8 0 0;
  }

  &__info {
    margin: 0 $separation-16;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
    min-width: 200px;
  }

  &__title {
    font-size: 22px;
  }

  &__store {
    font-size: 18px;
    transition: all 0.3s ease-in-out;
    font-weight: bold;

    &:hover {
      color: red;
    }
  }

  &__more {
    margin: 0 $separation-32;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__rating {
    font-weight: bold;
    font-size: 20px;
  }

  &__moreInfo {
    transition: all 0.3s ease-in-out;
    &:hover {
      text-decoration: underline;
    }
  }
}

@media (max-width: 500px) {
  .product {
    margin: $separation-24 0;
    flex-wrap: wrap;
    justify-content: center;

    &__number {
      width: 40px;
      height: 40px;
      position: absolute;
      left: -$separation-8;
      top: -$separation-8;
    }

    &__title {
      font-size: 16px;
      text-align: center;
    }

    &__store {
      font-size: 14px;
      transition: all 0.3s ease-in-out;
      font-weight: bold;
      text-align: center;

      &:hover {
        color: red;
      }
    }

    &__moreInfo {
      transition: all 0.3s ease-in-out;
      font-size: 14px;
      margin: 0 0 8px 0;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
