@import "../../styles/globals.module";

.title {
  margin: $separation-48 0 $separation-48 0;
}

@media (max-width: 500px) {
  .title {
    text-align: center;
  }

  .container {
    margin: 0 $separation-8;
  }
}
