@import "styles/globals.module";

.title {
  text-align: center;
  margin: $separation-32 0;
}

.main {
  display: flex;

  @media (max-width: 935px) {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.primary {
  display: flex;
  margin-left: $separation-16;
}

.secondary {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.image {
  margin: $separation-8;
}

.others {
  margin-top: $separation-16;
  display: flex;
  position: relative;
  flex-direction: row;
}

.categories {
  margin-top: $separation-62;
}