@import "styles/globals.module";
.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.secondary {
  display: flex;
  flex-direction: column;
}

.image {
  margin: $separation-8;
}

.others {
  margin-top: $separation-16;
  display: flex;
  position: relative;
  flex-direction: row;
}

.categories {
  margin-top: $separation-62;
}